/* ################################### FONTS ################################### */

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: "Roboto";
    font-weight: thin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "OpenSans";
    font-weight: bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: "OpenSans";
    font-weight: thin;
    src: url('../fonts/OpenSans-Light.ttf');
}

/* ################################### GLOBAL ################################### */

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.subtitle {
    text-indent: 2.5rem;
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
    margin: 0 0 0 0;
    border-bottom:0.25rem solid #332532;
    color:#F77A52;
}

:focus {
    outline: none;
}

a {
    color:#F77A52;
    text-decoration: none;
}

a:focus {
    color:#FF974F;
}

a:hover {
    cursor: pointer;
}

.smaller {
    font-size: 0.75rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.lane-space-around {
    display: flex;
    justify-content: space-around;
}

.lane-space-between {
    display: flex;
    justify-content: space-between;;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.canceller {
    background:#ff614c;
}

html {
    height: 100%;
    width:100%;
}

body {
    height: 100%;
    width:100%;
    position: relative;
    background:#FFF;
    font-family: 'OpenSans', sans-serif;
    color:#332532;
    font-size: 1rem;
}

.container {
    width: 100%;
}

.globalforms {
    width: 95%;
    margin: 0 auto;
}

/* ################################# MOBILES ################################# */

/* ################################# HAMBURGER ################################# */

.hamburger, #menu {
  transition: all 0.5s;
  -webkit-transition-timing-function: cubic-bezier(.79,.74,.33,1.21);
}

.hamburger {
  position: fixed;
  z-index: 5;
  right: 0.75rem;
  top: 0.75rem;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  background: #332532;
  text-align: center;
  line-height: 3rem;
  border: 0.25rem solid;
  border-radius: 1rem;
}

.hamburger:focus {
  background: #FFF;
}

#menu:target {
  right: 0%;
}

#menu {
  width: 100%;
  height: 110%;
  position: fixed;
  z-index: 6;
  top:0;
  right: -100%;
  background: #332532;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}

#menu ul {
  margin: 0 0 1rem 0;
}

#menu ul:last-child {
  width: 90%;
  height: auto;
  margin: 3rem auto;
}

#menu ul img {
  width: 100%;
}

#menu a {
  color:#FF974F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu a:focus {
  color:#FFF;
}

.menumap {
  top:7rem;
  right: 1rem;
}

/* ################################### HEADER ################################### */

header, #header {
    width: 100%;
    height: 5rem;
    background:#332532;
    border-bottom: 0.25rem solid #F77A52;
    margin: 0 0 0.75rem 0;
}

header #longlogo {
    height: 100%;
    width: 50%;
    margin: 0 0 0 2rem;
}

header #longlogo a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* ################################### FOOTER ################################### */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    position: fixed;
    bottom:0;
    color:#FFF;
    font-size: 0.7em;
    background:#332532;
    border-top:0.25rem solid #F77A52;
    z-index: 5;
}

footer p a {
    color:#FF974F;
}

footer p a:focus {
    color:#FFF;
}

/* ##################################### HP ##################################### */

#jumbo {
  width: 100%;
  height: 100%;
  background:linear-gradient(45deg,#F77A52,#FF974F), url('../img/bg-map.png') center no-repeat;
  background-blend-mode: multiply;
  background-position: bottom;
}

#hplogo {
  width: 100%;
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hplogo img {
  width: 80%;
}

#go{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  width: 80%;
  margin: 0 0 0.5rem 0;
  height: 7rem;
  color: #332532;
  border-radius: 2.5rem;
  border: 0.75rem solid #332532;
  box-shadow: inset 0 0 1rem rgba(0,0,0,0.25);
  background: #B58B94;
}

#go:focus {
  color:#FFF;
  border:0.75rem solid #FFF;
  box-shadow: inset 0 0 1rem rgba(0,0,0,0.5);
  background:#F77A52;
}

.userbar {
  width: 90%;
  height: 3rem;
  margin: 2% 0 0 0;
  font-size: 0;
}

.userbar button {
  width: 50%;
  height: 100%;
  font-size: 1.25rem;
  color:#FFF;
  border:none;
  background:#332532;
}

.userbar button:focus {
  background:rgba(255,255,255,0.5);
}

.userbar a.regbutton button {
  border-radius: 1rem 0 0 1rem;
}

.userbar a.logbutton button {
  border-radius: 0 1rem 1rem 0;
}

.userbar a.outbutton button,
.userbar a.profilebutton button,
.userbar a.createbutton button {
  border-radius: 1rem;
  width: 100%;
  margin: 0 auto;
}

.userbar a.profilebutton button,
.userbar a.createbutton button {
  width: 45%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.userbar a.profilebutton button {
  margin-right: 5%;
}

.userbar a.createbutton button {
  margin-left: 5%;
}

.downarrow {
  margin: 4.5rem 0 0 0;
  font-size: 2rem;
  color:#e4d6d9;
}

#service, #corporate {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  color:#FFF;
  background:linear-gradient(135deg,#B58B94,#332532);
  background-blend-mode: multiply;
}

#service h2,
#corporate h2 {
  font-weight: 300;
  text-indent: 1rem;
}

#service h3 {
  text-align: center;
  margin: 1rem 0;
}

#service .photolane,
#corporate .photolane {
  width: 100%;
  height: 18rem;
}

#service .photolane .showpic,
#corporate .photolane .showpic {
  width: 90%;
  height: 8rem;
  margin: 1rem auto;
}

#service .showpic img,
#corporate .showpic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 0;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
}

#service .photolane .showpic:last-child img,
#corporate .photolane .showpic:last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 1rem 0;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
}

#corporate {
  color:#FFF;
  background:linear-gradient(65deg,#F77A52,#FF974F);
  padding: 0.5rem 0.5rem 3.5rem 0.5rem;
}

#corporate > h3:nth-child(4) {
  text-indent: 15%;
}

#corporate > h3:nth-child(5) {
  text-indent: 25%;
}

#corporate > h3:nth-child(6) {
  text-indent: 35%;
}

#corporate > p {
  text-align: center;
  margin: 1rem 0 0 0;
}

/* ############################### USER PROFILE ############################### */

#profile {
  margin: 0 0 2.5rem 0
}

#profile > h1 {
  margin: 0 0 0.75rem 0;
}

#profile h2 {
  text-align: center;
  border-bottom:0.1rem solid #F77A52;
  padding: 0 0 0.25rem 0;
  margin: 1rem 0;
}

#user_information {
  width: 100%;
  height: auto;
  margin: 0 0 1.5rem 0;
}

#user_information .avatar {
  width: 8rem;
  height: 8rem;
  margin: 0.5rem auto;
  overflow: hidden;
  border: 0.2rem solid #332532;
  border-radius: 4.5rem;
}

#user_information .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#user_information .edit-profile {
  align-items: center;
  border: 0.125rem dotted #FF974F;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0.5rem;
}

#user_information .edit-profile button {
  width: 10rem;
  height: 3.5rem;
  font-size: 1rem;
  margin: 0;
}

#user_information h1 {
  text-indent: 2rem;
  margin: 0 0 0.25rem 0;
}

#user_information .info-field {
  border: 0.1rem solid #F77A52;
  padding: 0.5rem;
  border-radius: 1rem;
}

#user_information .info-field p {
  margin: 0.5rem 0;
}

#user_information .delete-profile {
  margin: 0 0 1rem 0;
}

.showevent {
  height: 8rem;
  margin: 1rem 0 0 0;
  border-bottom: 0.1rem dotted #332532;
  padding: 0 0 1rem 0;
}

.showevent .blocinfo {
  flex-direction: column;
}

.showevent img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 1rem 1rem 0;
}

/* ################################### FORMS ################################### */

form {
    width: 100%;
    height: auto;
}

form .forget {
  font-size: 0.85rem;
  margin: 1rem 0 0 1rem;
}

form .inputbox {
    position: relative;
    padding: 1rem 0 0 0;
}

form .inputbox select {
    width: 100%;
    height: 2.5rem;
    color:#332532;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 0 0 1rem;
    border-radius: 1rem;
    border:none;
    background: #e4d6d9;
}

form .inputbox option {
    font-size: 0.75rem;
    font-weight: 600;
    color:#332532;
    background:#FFF;
}

form .inputbox label {
    position: absolute;
    left:1rem;
    top:2.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    transition: all 0.5s;
}

input, textarea, form .picspec {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    border-radius: 1rem;
    border:none;
    color:#332532;
    font-size: 1rem;
    background:#e4d6d9;
    margin: 1.5rem 0 0 0;
    padding: 0 1rem;
}

form .picspec {
  margin: 0;
  padding: 0.5rem;
}

form .inputbox input:hover ~ label,
form .inputbox input:valid ~ label,
form .inputbox .toplabel,
form .timetable label,
form .inputbox .filetitle {
    top:0.5rem;
}

textarea {
    resize:vertical;
    height: 7.5rem;
    padding: 1rem;
    font-family: 'OpenSans', sans-serif;
}

form .radiobox {
    margin: 0 2rem 4rem 2rem;
}

form .radiobox .radiolane {
    display: flex;
    justify-content:space-around;
    margin: 0 0 2.5rem 0;
}

form .radiobox label {
    top:0;
    left: -1.5rem;
}

form .oneradiobox {
    position: relative;
}

form .bool {
    display: flex;
    justify-content: space-around;
    margin: 1rem 2.5rem 2.5rem 2.5rem;
}

form .bool .oneradiobox input {
    margin-top: 2.5rem;
}

form .radiobox .oneradiobox input:valid ~ label {
    text-align: center;
    font-size: 1rem;
    -webkit-transform: translate(-50%, -50%);
    top:6rem;
    left:1rem;
}

form .radiobox .oneradiobox input[type=radio] {
    width: 2rem;
}
form .timetable .adddates {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    margin: 1rem 0 0.5rem 0;
    color:#FFF;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1rem;
    border:none;
    background:#332532;
}

form .timetable .adddates p {
    text-align: center;
}

form .timetable .adddates:focus {
    color:#332532;
    background: #FFF;
}

form .timetable .datesup{
    display:none;
}

#dateFirst {
  margin: 1rem 0 0 0;
}

#dateFirst .lane-space-around {
  margin: 0.5rem 0;
}

#dateFirst label {
  font-size: 1.25rem;
  font-weight: 600;
}

#dateFirst input[type=date] {
  width: 70%;
}

#dateFirst input[type=time] {
  width: 20%;
}

#dateFirst input, #dateinter input, #datesup input {
  height: 1.5rem;
  padding: 0.15rem;
  margin: 0.25rem 0 0 0;
  text-align: center;
  border-radius: 0.5rem;
}

#dateinter input, #datesup input {
  margin: 0 2%;
}

#dateinter input[type=time], #datesup input[type=time] {
  width: 20%;
}

#dateinter input[type=date], #datesup input[type=date] {
  width: 40%;
}

#dateinter hr {
  margin: 0.5rem auto;
  width: 75%;
  border: 0.1rem dotted #B58B94;
}

#dateinter label, #datesup label {
  font-size: 1.25rem;
  margin: 0.25rem 0 0.25rem 0;
  display: flex;
  justify-content: center;
}

form .nbplaces {
    display:none;
}

form .orga {
   display:none;
}

form .orga .inputassoc {
    display:none;
}
form .orga .inputcomp {
    display:none;
}

form .inputbox .picfile {
    padding: 0.5rem 1rem;
}

.alert {
    position: relative;
    border-radius: 1rem;
    margin: 1rem 0 0 0;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    font-size: 1rem;
    color:#FFF;
    background:#e84c3d;
}

.alert i {
    font-size: 1.5rem;
    position: absolute;
    top:1rem;
    right:1rem;
}

#selectpart, #selectguest {
    padding: 1.5rem 0 0 0;
}

#selectpart input, #selectguest input {
  background: none;
  border: 0.25rem solid #FF974F;
  width: 45%;
  margin: 0 2.5% 0.5rem 2.5%;
  display: inline-block;
}

input[type=submit], #send_position, button  {
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 1rem 0 1rem 0;
    color:#FFF;
    background:#332532;
    border: 0.125rem solid #FFF;
}

input[type=submit].endform {
  margin: 1rem 0 3.5rem 0;
}

button.not-registered {
    margin: 0 0 3.5rem 0;
    background:#F77A52;
}

input[type=submit]:focus, #send_position:focus, button:focus {
    color:#332532;
    background:#FFF;
    border: 0.125rem solid #332532;
}

/* ################################### MAP ################################### */

#map {
    height: 100%;
    width: 100%;
    font-size: 2rem;
}

#header{
    position: absolute;
    top:0;
    z-index: 1;
}

#header .navbar {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    padding: 0.5rem;
}

#header .navbar select, #header .navbar input {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    padding: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    color:#332532;
    border: none;
    border-radius: 0;
    background:#FFF;
    margin: 0 0.25rem;
}

#header .navbar select:first-child {
    border-radius: 1rem 0 0 1rem;
}

#header .navbar input:last-child {
    border-radius: 0 1rem 1rem 0;
}

#header #result_search {
    width: 90%;
    max-height: 21rem;
    overflow: hidden;
    margin: 0.5rem auto;
}

#header #result_search .searchresult {
    width: 100%;
    height:3rem;
    font-size: 1rem;
    text-align: left;
    padding: 0 0 0 1rem;
    color:#FFF;
    margin: 0.25rem 0;
    border:0.125rem solid #FFF;
    border-radius: 1rem;
    background:#F77A52;
}

#header #result_search .searchresult:nth-child(even) {
    background: #FFF;
    color: #332532;
}

#header #result_search .searchresult:focus {
    color:#FFF;
    background:#332532;
}

/* ############################### MAP :: EVENTVIEW ############################### */

#event_view{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    color:#332532;
    font-size: 2rem;
    background-color: #e6e6e6;
    transition: all 0.5s;
}

#event_view a {
  color:#F77A52;
}

#event_view .cancelling-cross {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  right: 1rem;
  z-index: 5;
  background: #332532;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.25rem solid #FFF;
  border-radius: 1rem;
  color: #FFF;
  font-size: 2rem;
}

#event_view .cancelling-cross:focus {
  background:#ff614c;
}

.eventview-header, .eventpage-header {
  width: 100%;
  height: 24rem;
  position: relative;
  border-bottom: 0.25rem solid #FF974F;
}

.eventview-header h1,
.eventview-header p,
.eventview-header .eventview-interact,
.eventview-header .eventview-interact button,
.eventview-header .eventview-interact .rating {
  position: absolute;
}

.eventview-header h1,
.eventview-header p {
  padding: 0 3%;
  background:#FFF;
}

.eventview-header h1 {
  top: 15%;
  left: 10%;
  font-size:2rem;
  text-transform: capitalize;
}

.eventview-header p {
  top: 36.5%;
  left: 10%;
  font-size: 1.5rem;
}

.eventview-header p:nth-child(2) {
  top: 47.5%;
  left: 10%;
}

.eventview-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eventview-interact {
  box-sizing: border-box;
  width: 100%;
  height: 6rem;
  padding: 0 10%;
  bottom: 2rem;
}

.eventview-header .eventview-interact button {
  height: 4rem;
  width: 40%;
  margin: 0;
  font-size: 1rem;
  color: #FFF;
  border: 0.25rem solid #FFF;
  border-radius: 1rem;
  background: #332532;
}

.eventview-header .eventview-interact button:focus {
  background: #F77A52;
}

.eventview-header .eventview-interact .rating {
  right: 10%;
  top: 1rem;
  color: #FFF;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

.eventview-infos,
.eventview-comments {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 1rem;
  font-size: 1.5rem;
  background: #FFF;
  border-bottom: 0.125rem dotted #FF974F;
}

.eventview-infos .eventview-organiszer a {
  font-size: 2rem;
  font-weight: 600;
  color: #332532;
}

.eventview-infos .eventview-guests,
.eventview-infos .eventview-partners {
  font-size: 1rem;
}

.eventview-infos .eventview-guests a,
.eventview-infos .eventview-partners a {
  font-size: 1.5rem;
  font-weight: 600;
}

.eventview-infos .eventview-text p:nth-child(2) {
  margin: 1rem 0 0 0;
  font-weight: 600;
}

.eventview-infos .eventview-text table {
  width: 90%;
  height: auto;
  margin: 0 auto;
  font-size: 1rem;
}

.eventview-infos .eventview-text tr {
  display: flex;
  justify-content: space-between;
      margin: 0.25rem 0;
}

.eventview-infos .eventview-text p:last-child {
  margin: 1rem 0 0 0;
}

.eventview-infos .who {
  width: 100%;
  border: 0.125rem solid #e6e6e6;
  border-radius: 1rem;
  margin: 1.5rem 0;
  padding: 1rem;
  box-sizing: border-box;
}

.eventview-infos .who h3 {
  font-size: 1.75rem;
}

.eventview-infos .who a {
  font-size: 1rem;
}

.eventview-comments {
  border:none;
}

.eventview-comments h2 {
  font-size: 1.75rem;
  color: #FFF;
  background: #332532;
  text-align: center;
}

.eventview-comments .comment {
  padding: 0.5rem 0;
  border-bottom:0.125rem solid #F77A52;
  font-size: 1rem;
}

.eventview-comments .comment:last-child {
  border-bottom:none;
}

.eventview-comments .comment h3 {
  font-size: 1.5rem;
  text-indent: -0.5rem;
}

.eventview-comments .comment .comment-content {
  border: 0.1rem dotted #332532;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.5rem 0 0 0;
}

.eventview-comments .comment .answer {
  margin: 0 0 0 1rem;
}

.eventview-comments .comment .answer .answer-content{
  margin: 0.5rem 0 0 0;
}

/* ################################ EVENT :: PAGE ################################ */

.eventpage-header-lane {
  bottom:1.5rem;
}

#add_comment {
  width: 90%;
  font-size: 1.25rem;
  height: 4rem;
  background: #F77A52;
  margin: 1rem 5% 0 5%;
}

#add_comment:focus {
  color:#FFF;
  background: #332532;
}

.add_answer_comment {
  margin: 0.5rem 0 0 0;
  height: 2rem;
  font-size: 1rem;
}

#add_new_comment {
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  transition: all 0.5s;
}

#add_new_comment label {

}

#add_new_comment input, #add_new_comment textarea {
  margin: 0.25rem 0;
}

#submitCom {
  height: 3rem;
  font-size: 1.25rem;
  background: #F77A52;
}

/* ################################ CREATE :: MAP ################################ */

#header h1 {
    margin: 0.5rem 0 0.25rem 0;
    color:#FFF;
    text-align: center;
    font-weight: 300;
    font-size: 1.25rem;
}

#search_city {
    box-sizing: border-box;
    width: 90%;
    height: 4rem;
    margin: 0 5%;
    padding: 1rem;
    font-size: 2rem;
    border:0.125rem solid #332532;
    border-radius: 1rem;
}

#send_position {
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    margin: 0;
    bottom:0;
    left:50%;
    width: 90%;
    z-index: 1;
}

/* ############################## TABLETTES ############################## */

@media (min-width: 426px) {

/* ############################## MENU ############################## */

#menu:target {
  top:0;
}

#menu {
  width: 100%;
  height: 32%;
  top:-32%;
  right: 0;
  border-bottom: 0.5rem solid #F77A52;
}

#menu ul img {
  display: none;
}

/* ############################## HP ############################## */

#hplogo {
    width: 100%;
    height: 50%;
}

#hplogo img {
    width: auto;
    height: 75%;
}

#go {
    width: 30%;
    height: 10rem;
}

.userbar {
  margin: 5% 0 0 0;
}

.downarrow {
    margin: 5% 0 0 0;
}

/* ############################## MAP ############################## */

#header .navbar input, #header .navbar select {
  font-size: 1rem;
}

#header #result_search {
  width: 50%;
  max-height: none;
}

#header #result_search .searchresult {
  font-size: 1.5rem;
}

/* ############################## FORM ############################## */

#selectpart input, #selectguest input {
  width: 23%;
  margin: 0 1% 0.5rem 1%;
}

}

/* ############################## DESKTOP ############################## */

@media (min-width: 769px) {

/* ############################## HP ############################## */

#go {
    width: 12rem;
    height: 12rem;
    font-size: 8rem;
}

.userbar {
  width: 35%;
}

.downarrow {
  margin: 6.5% 0 0 0;
}

#service .downarrow {
  margin: 0 0 2% 0;
}

#corporate .downarrow {
  margin: 0 0 6% 0;
}

#service, #corporate {
  padding: 0 20%;
}

#service h1, #corporate h1 {
  font-size: 3rem;
  padding: 0.5rem 0 0 0;
}

#service .photolane,
#corporate .photolane {
  width: 100%;
  height: auto;
}

#service .photolane .showpic,
#corporate .photolane .showpic {
  width: 49.5%;
  height: auto;
  margin: 1rem auto;
  display: inline-block;
}

/* ############################## MAP ############################## */

.hamburger {
  display: none;
}

#menu:target {
  top:35%;
  left:0;
}

#menu {
  right: 0;
  top: 35%;
  width: 20%;
  height: auto;
  padding: 0 3rem;
  border-radius: 1rem 0 0 1rem;
  border-top: 0.25rem solid #F77A52;
  border-bottom: 0.25rem solid #F77A52;
  border-left: 0.25rem solid #F77A52;
}

#header {
  width: 20%;
  height: 100%;
  background: none;
}

#header .navbar {
  height: auto;
  box-sizing: border-box;
  padding: 0.5rem;
  display: inline-block;
  background: none;
}

#header .navbar select,
#header .navbar input {
  height: 2.5rem;
  width: 100%;
  border-radius: 1rem;
  margin: 0.25rem 0;
}

}
